hr{
    border-color:yellow;
}
body{
    color:yellow;
    background-image: url("./background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: "Press Start 2P", system-ui;
    font-weight: 100;
    font-style: normal;
}
.gridcontainer{
    display: grid;
    grid-gap: 10px 20px;
    grid-template-rows: 100px 1fr auto;
    grid-template-columns: 1fr 200px;
    grid-template-areas: "header  header"
                         "section aside"
                         "section2 aside"
                         "footer  footer ";
}

aside{
    
    font-weight: bold;
    
    
    
    height:56%;
    img{
        margin-top:10px;
        height:190px;
        width:194px;
    }
    
}
#section1{
    grid-area:section;
    border-color:yellow;
    border-style:dotted;
}
#section2{
    grid-area: section2;
    border-color:yellow;
    border-style:dotted;
}
header{
    grid-area:header;
    border-color:yellow;
    border-style:dotted;
    
    
}
footer{
    grid-area:footer;
    border-color:yellow;
    border-style:dotted;
    display:flex;

}
.classFooter{
    align-content: center;
    margin-right: auto;
    margin-left: 10px;

}
nav{
    position:absolute;
    top:30px;
    right:20px;
    
    border-color:yellow;
    border-style:dotted;
    
    

    li{
        color:yellow;
        align-content: center;
        display:inline;
        padding:8px;
        
        
    }
    li:hover{
        
        color:yellowgreen

    }
}
article{
    margin-right:10px;
    margin-left:10px;
    border-color:orange;
    border-style:dotted;
    margin-bottom:10px;
    
}
























/*

body{
    

}
#idcontainer section{
    margin-top:20px;
    border-color:purple;
    border-style:dotted;
    position:static;
    margin-right:290px;
    height:650px;
    article{
        margin-top:30px;
        margin-left:10px;
        margin-right:10px;
        height:150px;
        border-style:dotted;
        border-color:orange;
        position:static;
        
    }
    
}
section{
    margin-top:29%;
    border-color:purple;
    border-style:dotted;
    position:static;
    
    
}
aside {
    border-style: dotted;
    border-color: red;
    position: absolute;
    bottom:450px;
    right: 10px;
    height:330px;
    width:270px;
    

}

article{
    margin-top:30px;
    margin-left:10px;
    margin-right:10px;
    border-style:dotted;
    border-color:orange;
}

header{
    

    border-color: green;
    position:relative;
    height:100px;
    border-style:dotted;

    h1{
        font-family: "Jaro", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
      }
}
nav{
    background-color:blue;
    position:absolute;
    top: 30px;
    right:10px;
    li{
        display:inline-block; 
        color:aqua;
    }
    
}
footer{
    margin-top:28%;
    border-style:dotted;
    border-color:gray;
    height:150px;
}
*/